p{
    color:rgb(136, 10, 221);
}
body{
    background-color:rgb(2, 255, 158);
    font-family: "Edu NSW ACT Hand Pre", cursive;
}
h1{ color:rgb(0, 0, 0);
    font-size: 50px;

}
img{ 
    width: 100px;
    height: 120px;
}
img{
    width: 150;
    height: 150;
}
.caixa{
    background: rgb(16, 49, 194); 
    width: 300px; 
}
.sem {
    padding: 0;
}

.com_padding{
    padding: 15px;
}

.com_margin{
    margin-bottom: 60px;
}